@use "./../partials/palette";
@use "./../mixins.scss";
@use "./about-me.scss";
@use "./navigation.scss";

.my-projects {
  @include mixins.section-position;

  &__text {
      padding:30px;

    &--project-name{
      font-weight: bold;
      color: palette.$maroon-dark;
      font-size: 20px;
    }
    &--technologies {
      color: palette.$maroon-light;
    }
    &--link {
      color: palette.$maroon-dark;
      font-size: 24px;
      margin: 5px;

      &:hover {
        color: palette.$color-sand;
      }
    } 
  }

  &__white {
    padding:30px;
    @extend .about-me__white;
    @include mixins.flex ($just-cont: space-evenly);

    @include mixins.phone {
      @include mixins.flex ($flx-dir: column);
    }
  }
}