@use "./partials/palette";
@use "./mixins.scss";
@use "./modules/intro.scss";
@use "./modules/about-me.scss";
@use "./modules/projects.scss";
@use "./modules/contact.scss";
@use "./modules/navigation.scss";
* {
    font-family: "Raleway", sans-serif;
    line-height: 1.8;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: palette.$color-light;
}
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: palette.$color-sand;
}
body::-webkit-scrollbar-thumb {
    background-color: palette.$maroon-light;
}
#partIntro {
    height: calc(100vh - 75px);
    @include mixins.flex;
}
.page-part {
    @include mixins.laptop {
        height: 100vh;
        @include mixins.flex;
    }
}
#partSkills,
#partProjects,
#partContact {
    @include mixins.laptop {
        height: calc(100vh);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin: 0;
    }
}

.pre-title {
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.section-title {
    padding: 0;
    font-size: 24px;
    color: palette.$maroon-light;
    margin: 0 0 10px 0;
}
.footer {
    background-color: palette.$maroon-light;
    color: palette.$color-light;
    text-align: center;
    padding: 20px;
    width: 99vw;

    &__text {
        padding: 0;
        margin: 0;
    }
}
